<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>41_CoreData_T_.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>79288BB01CC8BBB0005666A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79288BCC1CC8BBB0005666A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79288BD71CC8BBB0005666A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
